.control-bar {
  text-align: center;
  background-color:whitesmoke;
  padding-bottom: 15px;
  padding-top: 15px;
  margin-bottom: 10px;
}
.shiny-output-error:before { visibility: hidden; }

#download_plots_button{
	margin-bottom: 15px;
	margin-top:15px;
	font-weight: bold;
}
#help{
	margin-bottom: 15px;
	margin-top:15px;
	margin-bottom: 15px;
}

.main-header {max-height: 80px;position: fixed;  width:100%;}
.main-header .logo {height: 80px;  font-size: 17px;}
.sidebar-toggle {height: 80px; padding-top: 30px !important;}
.navbar {min-height:80px !important}
.logo {padding-top:15px !important}
.left-side, .main-sidebar {padding-top: 80px; position: fixed;}
.content{padding-top: 80px!important}

.loading-content {
  position: absolute;
  opacity: 0.95;
  background: #FFFFFF;
  z-index: 100;
  left: 0;
  right: 0;
  height: 100%;
  text-align: center;
  color: #000000;
}

#github-btn {
	color: white;
	margin-top:.5em;
	margin-top:.5em;
	margin-left: .5em;
	font-size: 40px;
	position: absolute;
	top: 90%;
	background-color:#222d32;
}

#github-btn:hover {
    opacity:.5;
}




